{% extends "padre.html" %}

{% load  static  %}

{% block contenidoquecambia %}

    <p style="text-align:center">
        
    Mi nombre es Erica Astudillo
    Soy Contadora Pública, recibida en UBA (2001) 
    Me desarrollo como Analista Sr. en la Gerencia de 
    Análisis de Riesgo Crediticio en Bco.
    Credicoop Coop. Ltda.   desde 11/2002. 

    Soy Mamá de Camila y Emma, mellizas de 8 años

    Estoy creando un nuevo Banco, iré volcando
    los conocimientos adquiridos en el rubro
    en estos años, innovando en productos y 
    servicios más integrales al mundo digital 
    que hoy nos concierne y acelerando 
    los tiempos de respuestas con 
    procesos más dinámicos.
    

    </p>
    <div class="text-center my-5">
        
    </div>
{% endblock %}