{% extends "padre.html" %}

{% load static %}

{% block contenidoquecambia %}

<h3>
    
    

        <p style = "color:#8d69e3;
                    font-size:50px;
                    font-style:italic;
                    text-align:center;">

        
            <b>          <p text center>
            Mi nombre es Erica Astudillo.
            
            Soy Contadora Pública, recibida en UBA (2001).

            Trabajo como Analista Sr. en la Gerencia de

            Análisis de Riesgo Crediticio en Bco.
                
            Credicoop Coop. Ltda. desde 11/2002.
            </p text center>
            <p text center>
            Soy Mamá de Camila y Emma, mellizas de 8 años.
            </p text center>
             <p text center>
            Estoy creando una aplicación web para bancos. 
            Busco poder dar a procesos administrativos una 
            nueva forma de seguimiento, y mejorar la
            experiencia de usuarios en sus registros.
            Quiero darle una mayor integración a los 
            distintos sectores y también más celeridad a
            los procesos vigentes. 
        </p text center>    
    </b>

</h3>


{% endblock contenidoquecambia %}