{% extends 'padre.html' %}

{% block contenidoquecambia %}

    <h1>Lista de Empleados</h1>


    <ul>
        
        {% for empleado in empleados %}
            <li>
              
               Nombre:  {{empleado.nombre}} - Apellido  {{empleado.apellido}}
                   
            </li>
            <div>
                <form action ="{% url 'EliminaEmpleado' empleado.id %}" method="POST">{% csrf_token %}
                    <button type = "submit"> Eliminar </button>
                </form>
                
                <button>

                    <a href="{% url 'EditarEmpleado' empleado.id %}">Actualizar datos</a>

                </button>
            </div>    
        {% endfor %}
            
    </ul>
               <a href="{% url 'EmpleadoFormulario' %}"> Agrega nuevo Empleado </a>


    <ul>
        <input type="button" onclick="history.back()" name="Atrás" value="Atrás">
    </ul>

{% endblock contenidoquecambia %}
    