{% extends "padre.html" %}


{% block contenidoquecambia%}

<h1>Lista  de Productos</h1>

<ul>
    {%for producto in productos %}
        
        <li>
            Nombre :  {{producto.nombre}} - Codigo : {{producto.codigo}}  

        </li>
        <div>

            <form action ="{% url 'EliminaProducto' producto.id %}" method="POST">{% csrf_token %}
                <button type = "submit"> Eliminar </button>
            </form>
            
            <button>

                <a href="{% url 'EditarProducto' producto.id %}"> Actualizar </a>

            </button>
        </div>

        



    {%endfor%}
    
</ul>

<a href="{% url 'ProductoFormulario' %}"> Agregar nuevo producto</a>

<ul>
    <input type="button" onclick="history.back()" name="Atrás" value="Atrás">
</ul>

{% endblock contenidoquecambia %}
    
